
h2 {
  color: white;
}

.container {
    width:800px;
    height: 100%;
    padding:20px;
    background: black;
    margin: 0 auto;
}


#ulMovies{
  list-style: none;
  padding:0;
  text-align: center;
}

li {
  display: none;
  list-style: none;
  margin: 0 auto;
  max-width:100%;
}

.active {
    display: block !important;
   max-width:100%;
}
