.container {
    width:800px;
    height:400px;
    padding:20px;
    background: black; 
    margin: 0 auto;
}

/*verbergt alles buiten de container*/
.image-slider-wrapper {
    overflow: hidden;
}

#image-slider {
    height: 350px;
    padding:0;
    display: flex;
}

#image-slider li {
    max-width: 100%;
    list-style: none;
}


#image-slider li img {
    display: none;
    list-style: none;
}

.active img {
    display: block !important;
}