body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
}


h1 {
	text-align: center;
}

p > span {
	font-size: 3em;
	text-align: center;
}

img {
	width: 50%;
	grid-column: 1;
	grid-row: 1;
	margin-left: 3em;
}

ul {
	list-style: none;
	width: 100%;
	margin: 0;
	padding: 0;
}

ul > li {
	margin: 2em auto;
	width: 80%;
	background: lightgrey;
	padding: 1em;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

ul > li > p {
	margin-left: 2em;
}

ul > li > div {
	grid-column: 2;
}

ul > li > i {
	grid-column: 2;
	text-align: center;
	font-size: 2em;
}

ul > li > button {
	box-shadow: 0px 10px 14px -7px #276873;
	background-color: #599bb3;
	border-radius: 8px;
	cursor: pointer;
	color: white;
	font-size: 1em;
	font-weight: bold;
	padding: 12px 23px;
	grid-column: 3;
	grid-row: 2;
}

ul > li > button:hover {
	background-color:#408c99;
}

