body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
}


h1 {
	text-align: center;
}

p > span {
	font-size: 3em;
	text-align: center;
}

img {
	width: 95%;
	min-width: 10em;
	grid-column: 1;
	grid-row: 1;
	margin-right: 2em;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}

ul > li {
	margin: 1em auto;
	width: 30%;
	background: lightgrey;
	padding: 1em;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

ul > li > div {
	grid-column: 2;
}

ul > li > i {
	grid-column: 2;
	grid-row: 3;
	font-size: 2em;
}

ul > li > button {
	box-shadow: 0px 10px 14px -7px #276873;
	background-color: #599bb3;
	border-radius: 8px;
	cursor: pointer;
	color: white;
	font-size: 1em;
	font-weight: bold;
	padding: 5px 10px;
	width: 50%;
	height: 4em;
	grid-row: 3;
	grid-column: 1;
}

ul > li > button:hover {
	background-color:#408c99;
}

